<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.hitea.hart.HartMapper">
	<select id="hart" parameterType="com.ht.hitea.sns.SNSBean" resultType="com.ht.hitea.hart.Hart">
		select * from hitea_heart where hh_hs_no=#{hs_no} order by hh_date desc
	</select>
	<select id="hartImgCheck" parameterType="com.ht.hitea.sns.SNSBean" resultType="com.ht.hitea.hart.Hart">
		select * from hitea_heart where hh_hs_no=#{hs_no} and hh_heart_hm_id = #{hs_hm_id}
	</select>
	<delete id="hartDelete" parameterType="com.ht.hitea.sns.SNSBean">
		delete from hitea_heart where hh_hs_no=#{hs_no} and hh_heart_hm_id = #{hs_hm_id}
	</delete>
	<insert id="hartReg" parameterType="com.ht.hitea.sns.SNSBean">
		insert into hitea_heart values(#{hs_no},#{hs_hm_id},sysdate)
	</insert>
</mapper>